@model Garage_3.ViewModels.DetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MemberNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MemberNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleTypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleTypeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkedTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Members">Back to List</a>
</div>
