@model IEnumerable<Garage_3.Models.Entites.Garage>

@{
    ViewData["Title"] = "Garage";
}

<h1>Garage</h1>

@{
    await Html.RenderPartialAsync("_MessageView");
}

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (Model != null && Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.GarageName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfParkingPlaces)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GarageName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfParkingPlaces)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.GarageId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.GarageId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.GarageId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
