@model MembersViewModel

@{
    ViewData["Title"] = "Member Details";
}

<h1>Member Details</h1>

<div>
    <h4>Membership</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        @foreach (var vehicle in Model.Vehicles)
            {
                <td>
                    @Html.DisplayFor(modelItem => vehicle.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>vehicle.Make)
                </td>
            }
       
    </dl>
</div>
<div>
    <a class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Edit" asp-action="MemberEdit" asp-route-id="@Model.MembershipId">Edit</a>
    <a class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="List members" asp-action="Members">Back to List of members</a>
</div>
