@model Garage_3.Models.ViewModel.ParkVehicleSelectParkingPlaceViewModel

@{
    ViewData["Title"] = "Park Vehicle";
}

<h1>Park Vehicle</h1>

<div>
    <div class="row">
        <div class="col-md-12">
            <h4>@Model.MemberName shall park @Model.Vehicle.Make @Model.Vehicle.Model with registrationnumber @Model.Vehicle.RegistrationNumber</h4>
        </div>
    </div>
</div>

<div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <form method="post" asp-controller="Garages" asp-action="ParkTheVehicle">
                <input type="hidden" value="@Model.MemberShip.MembershipId" id="MembershipId" name="MembershipId" />
                <input type="hidden" value="@Model.Vehicle.VehicleId" id="VehicleId" name="VehicleId" />

                <div class="form-group">
                    <label asp-for="ParkingPlaceId" class="control-label">Free parking places</label>
                    @Html.DropDownList("ParkingPlaceId", Model.FreeParkingPlaces, new { @class = "form-control" })
                    <span asp-validation-for="ParkingPlaceId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Select parking place" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Select parking place" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Home">Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
