@model Garage_3.Models.ViewModel.VehicleListViewModel

@{
    ViewData["Title"] = "Parked vehicles";
}

<h1 class="display-3 w-100">Parked vehicles</h1>

@{
    await Html.RenderPartialAsync("_MessageView");
}

<form asp-controller="Garages" asp-action="ParkedVehiclesSearchFor" method="get">
    <div class="form-group row">
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" id="txtSearchRegistrationNumber" name="txtSearchRegistrationNumber" placeholder="Search for Registrationnumber" value="@ViewBag.SearchFor" />&nbsp;
                <input type="text" class="form-control" id="txtSearchVehicleType" name="txtSearchVehicleType" placeholder="Search for Vehicle type" value="@ViewBag.SearchFor" />&nbsp;
                <button class="btn btn-secondary" id="search" type="submit" data-toggle="tooltip" data-placement="bottom" title="Search for Vehicle">Search</button>
            </div>
        </div>
    </div>
</form>


@if (Model.VehiclesInfo != null && Model.VehiclesInfo.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.VehiclesInfo[0].Make)</th>
                <th>@Html.DisplayNameFor(model => model.VehiclesInfo[0].Model)</th>
                <th>@Html.DisplayNameFor(model => model.VehiclesInfo[0].RegistrationNumber)</th>
                <th>@Html.DisplayNameFor(model => model.VehiclesInfo[0].VehicleType)</th>
                <th>@Html.DisplayNameFor(model => model.VehiclesInfo[0].MemberName)</th>
                <th>@Html.DisplayNameFor(model => model.VehiclesInfo[0].ParkedTime)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.VehiclesInfo)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Make)</td>
                    <td>@Html.DisplayFor(modelItem => item.Model)</td>
                    <td>@Html.DisplayFor(modelItem => item.RegistrationNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.VehicleType)</td>
                    <td>@Html.DisplayFor(modelItem => item.MemberName)</td>
                    <td>@Html.DisplayFor(modelItem => item.ParkedTime)</td>
                    <td>
                        <a class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Vehicle Edit" asp-action="VehicleEdit" asp-route-backTo="vehicleList" asp-route-id="@item.VehicleId">Edit</a>
                        <a class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Vehicle Details" asp-action="VehicleDetails" asp-route-backTo="vehicleList" asp-route-id="@item.VehicleId">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
        <p>No vehicle</p>
    </div>
}

<div>
    <a class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Park A New Vehicle" asp-action="ParkVehicle">Park vehicle</a>
</div>
